@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  font-family: "Plus Jakarta Sans", Helvetica, sans-serif, sans-serif;
}

body {
  background: radial-gradient(at 0% 0%, rgb(24, 24, 27), rgb(45, 0, 12), rgb(24, 24, 27));
  padding: 40px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.container {
  background: rgba(241, 14, 57, 0.85);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(151, 3, 3);
  width: 300px;
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 12px;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  border:none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: rgb(255, 192, 226);
  border-radius: 5px;
}
button {
    background:rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}